<section id="page-contact" class="section">
    <div class="page_content">

      <div class="contact_content">
        <div class="contact_col">{{ content }}</div>
        <div class="contact_col">
          
          {%- form 'contact', class: 'contactForm-white' -%}
            {%- if form.errors -%}  
            <ul class="contactForm_errors">
              {%- for field in form.errors -%}
              <li>{{ field | replace: 'body', 'Message' | capitalize }} - {{ form.errors.messages[field] }}</li>
              {%- endfor -%}
            </ul>
            {%- endif -%}

            {%- if form.posted_successfully? -%}
            <div class="contactForm_success">{{ 'customer.contact.post_success' | t }}</div>
            {%- endif -%}

            <div class="formGroup-white">
              <label class="label" for="contact_name">{{ 'contact.form.name' | t }}</label>
              <input type="text" class="input input-dark" id="contact_name" name="contact[name]" placeholder="{{ 'contact.form.name_placeholder' | t }}" required/>
            </div>

            <div class="formGroup-white">
              <label class="label" for="contact_email">{{ 'contact.form.email' | t }}</label>
              <input type="email" class="input input-dark" id="contact_email" name="contact[email]" placeholder="{{ 'contact.form.email_placeholder' | t }}" required/>
            </div>

            <div class="formGroup-white">
              <label class="label" for="contact_email">{{ 'contact.form.email_affiliate' | t }}</label>
              <input type="email" class="input input-dark" id="message" name="contact[body]" placeholder="{{ 'contact.form.affiliate_placeholder' | t }}" required/>
            </div>

            <input class="button button-white" type="submit" value="{{ 'contact.form.submit' | t }}" />
          {%- endform -%}

        </div>
      </div>

    </div>
</section>