{% comment %} Product {% endcomment %}
{% assign product_title = product.title %}
{% assign active_product = product.selected_or_first_available_variant %}
{% assign featured_image = product.featured_image %}
{% assign product_id = active_product.id %}
{% assign product_url = product.url | within: collection  %}
{% assign price = active_product.price %}
{% assign compare_price = active_product.compare_at_price %}




  {% comment %} Details {% endcomment %}

    <a class="productCard_title" href="{{ product_url }}">{{ product_title }}</a>

    {% comment %} Price {% endcomment %}
      {%- if price < compare_price -%}
      <span class="productCard_price">{{- price | money -}}</span>
      <span class="productCard_price productCard_price-sale">{{- compare_price | money -}}</span>
      {%- else -%}
      <span>{{- price | money -}}</span>
      {%- endif -%}
    </a>



