{% comment %} Options {% endcomment %}
{% assign active_product = product.selected_or_first_available_variant %}
{% assign active_product_id = product.selected_or_first_available_variant.id %}
{% assign product_variants = product.variants %}
{% assign product_variants_size = product.variants | size %}
{% assign product_options = product.options_with_values %}
{% assign product_available = active_product.available %}
{% assign product_qty = active_product.inventory_quantity %}
{% assign product_options_size = product_options | size %}

<form action="/cart/add" method="post" enctype="multipart/form-data" class="product_form"
  id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">

  {% comment %} Show variant options as separate select boxes {% endcomment %}
  {% if product_variants_size > 1 %}
  <div class="product_options{% if product_options_size == 1 %} product_options-single{% endif %}"> 
    {%- for product_option in product_options -%}
      {%- assign option_name = product_option.name -%}
      {%- assign option_values = product_option.values -%}
      {%- assign selected_value = product_option.selected_value -%}

      <div class="product_option" option-name="{{ option_name }}">
        <label class="label" for="option-{{ option_name | downcase }}">{{ option_name }}</label>
        <div class="select-styled">
          <select name="option-{{ option_name | downcase }}" class="option_selector option_selector-toggable option_selector-{{ option_name }}">
            {%- for value in option_values -%}
              <option value="{{ value | escape | downcase }}" {%- if selected_value == value -%}selected="selected"{%- endif -%}>{{ value }}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>

    {%- endfor -%}
  </div>
  {% endif %}

  {% if product_variants_size > 1 %}
    {% comment %} Hidden form to handle add to cart {% endcomment %}
    <select name="id" id="ProductSelect" style="display:none">
      {% assign hidden_product_variants = product.variants %}
      {% for hidden_variant in hidden_product_variants %}
        {% assign hidden_variant_id = hidden_variant.id %}
        {% assign hidden_variant_title = hidden_variant.title %}
        {% assign hidden_variant_title_split = hidden_variant_title | split: ' / ' %}
        <option 
          class="product_select_label"
          data-option="{% for title in hidden_variant_title_split %}{{ title | replace: ' ', '-' | downcase }}{% unless forloop.last %}-{% endunless %}{% endfor %}"
          value="{{ hidden_variant_id }}" {% if hidden_variant_id == active_product_id %}
          selected="selected" {% endif %}>
            {{- hidden_variant_title -}}
        </option>
      {% endfor %}
    </select>
     {% else %}
    <input type="hidden" id="id" name="id" value="{{ active_product_id }}" />
  {% endif %}

{% include 'product-info'%}

    <button type="submit" class="button button-grey">Personalise</button>
  {% if product_available %}
    <button type="submit" name="add" id="cta-add-to-cart" class="js-add-to-cart button button-black">{{ 'products.product.add_to_cart' | t }}</button>
  {% else %}
    <input id="cta-add-to-cart" class="button button-black" type="submit" value="{{ 'products.product.sold_out' | t }}" disabled />
  {% endif %}

</form>

<script>
  // Toggle between variants
  var variants = document.querySelectorAll('.product_select_label') // Hidden select list with id
  var productOptions = document.querySelectorAll('.option_selector-toggable');
  var changingVariantText = 'Changing variant...';
  var addToCartButton = document.getElementById('cta-add-to-cart');
  // Listen to product options changes
  productOptions.forEach(function(option) {
    option.addEventListener('change', function(event) {
      event.preventDefault();
      let selectedVariantId = Array.from(productOptions).map(function(productOption) {
        return productOption.value.replace(/ /g, '-').toLowerCase()
      }).join('-')
      Array.prototype.slice.call(variants).forEach(function(variant) {
        let id = variant.getAttribute('data-option');
        let value = variant.value;
        addToCartButton.value = changingVariantText;
        addToCartButton.disabled = true;
        if (id === selectedVariantId) {
          setTimeout(function() {
          	window.location.search = '?variant=' + value;
          }, 500);
        }
      });
    })
  })
</script>
