<ul>
{% for image in product.images %}
    {% if forloop.first %}
    <li>  <a href="{{ image | product_img_url: 'master' }}">
          <img src="{{ 'blank.png' | asset_url}}" data-src="{{ image | product_img_url: 'master'}}" alt="{{product.title}}" class="lazy"/>
        </a>
         </li>
    {% else %}
    <li>
        <a href="{{ image | product_img_url: 'master' }}">
          <img src="{{ 'blank.png' | asset_url}}" data-src="{{ image | product_img_url: 'master'}}" alt="{{product.title}}" class="lazy"/>
        </a>
    </li>
    {% endif %}
{% endfor %}
</ul>

 