{% comment %} Product {% endcomment %}
{% assign product_title = product.title %}
{% assign active_product = product.selected_or_first_available_variant %}
{% assign featured_image = product.featured_image %}
{% assign product_id = active_product.id %}
{% assign product_url = product.url | within: collection  %}
{% assign price = active_product.price %}
{% assign compare_price = active_product.compare_at_price %}

  <div>
              {%comment%} Product Image {%endcomment%}
                <a class="productCard_title" href="{{ product_url }}">
                  <div class="reveal-collection">
                {% for image in product.images %}
                    {% if image.alt contains 'editorial' %}
                        <img class="reveal-collection-img lazy" src="{{ 'preloader-1.svg' | asset_url}}" data-src="{{ image.src | img_url: 'master' }}">
                    {%endif%}
                {% endfor %}
                    <img class="hidden-collection lazy" src="{{ 'preloader-1.svg' | asset_url}}"data-src="{{ product.images.first | img_url: 'master' }}" alt="{{ product.images.first.alt | escape }}" />
                  </div>
                </a>

              {% comment %} Details {% endcomment %}
                <div class="productCard_details">
                  <a class="productCard_title" href="{{ product_url }}">{{ product_title }}</a>

              {% comment %} Price {% endcomment %}
                    <div class="productCard_pricing" style="margin: 10px 0 5px !important;">
                        {%- if price < compare_price -%}
                          <span class="productCard_price">{{- price | money -}}</span>
                          <span class="productCard_price productCard_price-sale">{{- compare_price | money -}}</span>
                        {%- else -%}
                          <span>{{- price | money -}}</span>
                        {%- endif -%}
                    </div> 
                  </div>
</div>


