{% comment %} Options {% endcomment %}
{% assign active_product = product.selected_or_first_available_variant %}
{% assign active_product_id = product.selected_or_first_available_variant.id %}
{% assign product_variants = product.variants %}
{% assign product_variants_size = product.variants | size %}
{% assign product_options = product.options_with_values %}
{% assign product_available = active_product.available %}
{% assign product_qty = active_product.inventory_quantity %}
{% assign product_options_size = product_options | size %}
{% assign file_extension = 'png' %}
{% assign product_url = collection.url | append: '/products/' %}

{% form "product", product, class: 'product_form', id: 'product-form', data-productid: product.id %}

    {% comment %} Show variant options as separate select boxes {% endcomment %}
    {% if product_variants_size > 1 %}
    <div class="product_options{% if product_options_size == 1 %} product_options-single{% endif %}">
      {%- for product_option in product_options -%}
        {%- assign option_name = product_option.name -%}
        {%- assign option_name_handleized = product_option.name | handleize -%}
        {%- assign option_values = product_option.values -%}
        {%- assign selected_value = product_option.selected_value -%}

 {% if option_name == 'Color' %}
          {% comment %} Active state and styles are still to be declared {% endcomment %}
<label class="label" for="option-{{ option_name | downcase }}">{{ option_name }}</label>
          <div class="product_colour{% if variant_sku == selected_variant.sku %} product_colour-active{% endif %}">
          {%- for value in option_values -%}
            <a title="{{ value | escape | downcase }}" class="colourSwatch_dot" href="{{product_url}}{{value}}" style="background-image: url({{ value | escape | downcase | append: '.' | append: file_extension | asset_url }})">{{}}</a>
             {%- endfor -%}
          </div>

{% else %}
          <div class="product_option" option-name="{{ option_name }}">
            <label class="label" for="option-{{ option_name | downcase }}">{{ option_name }}</label>
            <div class="select-styled">
              <select name="option-{{ option_name | downcase }}" class="option_selector option_selector-toggable option_selector-{{ option_name }}">
                {%- for value in option_values -%}
                  <option value="{{ value | escape | downcase }}" {%- if selected_value == value -%}selected="selected"{%- endif -%}>{{ value }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
      {% endif %}

      {%- endfor -%}
    </div>
    {% endif %}


  {% comment %} Hidden form to handle add to cart {% endcomment %}
    {% if product_variants_size > 1 %}
      <select name="id" id="ProductSelect" style="display: none;">
        {% assign hidden_product_variants = product.variants %}
        {% for hidden_variant in hidden_product_variants %}
          {% assign hidden_variant_id = hidden_variant.id %}
          {% assign hidden_variant_title = hidden_variant.title %}
          {% assign hidden_variant_title_split = hidden_variant_title | split: ' / ' %}
          <option
            data-option="{% for title in hidden_variant_title_split %}{{ title | replace: ' ', '-' | downcase }}{% unless forloop.last %}-{% endunless %}{% endfor %}"
            value="{{ hidden_variant_id }}" {% if hidden_variant_id == active_product_id %}
            selected="selected" {% endif %}>
              {{- hidden_variant_title -}}
          </option>
        {% endfor %}
      </select>
    {% else %}
      <input type="hidden" id="id" name="id" value="{{ active_product_id }}" />
    {% endif %}
{%endform%}

{% include 'product-info'%}

    <button type="submit" class="button button-grey">Personalise</button>
  {% if product_available %}
    <button type="submit" name="add" id="cta-add-to-cart" class="js-add-to-cart button button-black">{{ 'products.product.add_to_cart' | t }}</button>
  {% else %}
    <input id="cta-add-to-cart" class="button button-black" type="submit" value="{{ 'products.product.sold_out' | t }}" disabled />
  {% endif %}



<style>
.product_form {}
.product_options {
  margin: 20px 0 0;
  padding: 20px 0;
  display: block;
  width: 100%;
  border-bottom: 0.2px solid #e3e3e3;
}
.product_option {
  width: 100%;
  box-sizing: border-box;
}
.product_options-single .product_option {
  max-width: 100%;
}
.product_option label {
  margin-bottom: 5px;
}
.product_colour{
  display: flex;
  height: 30px;
}
.product_colour a{
  display: block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}
.product_colour a:hover{
  width: 18px;
  height: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}
/* Styled select */
.select-styled {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  overflow: hidden;
  background-color: transparent;
  background: transparent url({{ 'chevron-down.svg' | asset_url }}) no-repeat 95% 50%;
  background-size: 15px auto;
}
.select-styled select {
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>

 <script>
  // Toggle between variants
  var variants = document.querySelectorAll('#ProductSelect option') // Hidden select list with id
  var productOptions = document.querySelectorAll('.option_selector-toggable');
  var changingVariantText = {{ button_switching_variant | json }};
  var addToCartButton = document.getElementById('product-atc');
  // Listen to product options changes
  productOptions.forEach(function(option) {
    option.addEventListener('change', function(event) {
      event.preventDefault();
      let selectedVariantId = Array.from(productOptions).map(function(productOption) {
        return productOption.value.replace(/ /g, '-').toLowerCase()
      }).join('-');
      Array.prototype.slice.call(variants).forEach(function(variant) {
        let id = variant.getAttribute('data-option');
        let value = variant.value;
        addToCartButton.value = changingVariantText;
        addToCartButton.disabled = true;
        if (id === selectedVariantId) {
          setTimeout(function() {
          	window.location.search = '?variant=' + value;
          }, 500);
        }
      });
    })
  })
</script>

