<div class="returnDetails">
    <div class="returnDetails-left">
      <h4 class="shipping-modal"><span><img src="{{ 'truck.svg' | asset_url}}"/></span>Free Shipping</h4>
      <h4 class="trial-modal"><span><img src="{{ 'trial.svg' | asset_url}}"/></span>14 days trial</h4>
    </div>
    <div class="returnDetails-right">
      <h4 class="return-modal"><span><img src="{{ 'return.svg' | asset_url}}"/></span>Easy returns</h4>
      <h4 class="service-modal"><span><img src="{{ 'service.svg' | asset_url}}"/></span>Personal service</h4>
    </div>

    {%comment%} Slide in modal {%endcomment%}
    <div class="modal" id="shippingModal">
        <div class="modal-small modal_container">
          <div class="modal-container-wrapper">
            <p>Free Shipping</p>
            <div class="shipping_close modal_close"></div>
          </div>
        </div>
    </div>
    <div class="modal" id="trialModal">
        <div class="modal-small modal_container">
          <div class="modal-container-wrapper">
            <p>Free Trial</p>
            <div class="trial_close modal_close"></div>
          </div>
        </div>
    </div>
        <div class="modal" id="returnModal">
        <div class="modal-small modal_container">
          <div class="modal-container-wrapper">
            <p>Easy returns</p>
            <div class="return_close modal_close"></div>
          </div>
        </div>
    </div>
    <div class="modal" id="serviceModal">
        <div class="modal-small modal_container">
          <div class="modal-container-wrapper">
            <p>Customer Service</p>
            <div class="service_close modal_close"></div>
          </div>
        </div>
    </div>
</div>
<style>
.modal_close{
  background: url({{'close.png' | asset_url}}) no-repeat center;
  background-size: 50% 50%;
}
</style>
<script>
var modalShipping = document.querySelector("#shippingModal");
var btnShipping = document.querySelector(".shipping-modal");
var closeShipping = document.getElementsByClassName("shipping_close")[0];

var modalTrial = document.querySelector("#trialModal");
var btnTrial = document.querySelector(".trial-modal");
var closeTrial = document.getElementsByClassName("trial_close")[0];

var modalReturn = document.querySelector("#returnModal");
var btnReturn = document.querySelector(".return-modal");
var closeReturn = document.getElementsByClassName("return_close")[0];

var modalService = document.querySelector("#serviceModal");
var btnService = document.querySelector(".service-modal");
var closeService = document.getElementsByClassName("service_close")[0];

btnShipping.onclick = function() {
  modalShipping.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
closeShipping.onclick = function() {
  modalShipping.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalShipping) {
    modalShipping.style.display = "none";
  }
  console.log("close shipping modal")
}

btnTrial.onclick = function() {
  modalTrial.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
closeTrial.onclick = function() {
  modalTrial.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalTrial) {
    modalTrial.style.display = "none";
  }
   console.log("close trial modal")
}

btnReturn.onclick = function() {
  modalReturn.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
closeReturn.onclick = function() {
  modalReturn.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalReturn) {
    modalReturn.style.display = "none";
  }
   console.log("close return modal")
}

btnService.onclick = function() {
  modalService.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
closeService.onclick = function() {
  modalService.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalService) {
    modalService.style.display = "none";
  }
   console.log("close service modal")
}

</script>


