<!DOCTYPE html>
<html lang="{{ shop.locale }}">
<head>
  {% include 'favicon' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'password.scss.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>

<body>

  <main role="main">
    {% section 'page-password' %}
    {{ content_for_layout }}
  </main>

</body>
</html>
