<section class="page section">
<div class="container">

<div class="resetPassword" style="margin: 80px 0">
{% form 'reset_customer_password', class: 'form form-small' %} 
{{ form.errors | default_errors}}

<div class="formGroup">
<label class="label" for="password">{{ 'customer.reset_password.password' | t }}</label>
<input 
    type="password" 
    placeholder="{{ 'customer.reset_password.password_placeholder' | t }}"
    class="input input-dark" 
    value="" name="customer[password]" 
    size="16" 
    />
</div>

<div class="formGroup">
<label class="label" for="password_confirmation">{{ 'customer.reset_password.password_confirmation' | t }}</label>
<input
  class="input input-dark"
  placeholder="{{ 'customer.reset_password.password_confirmation_placeholder' | t }}"
  type="password"
  value=""
  name="customer[password_confirmation]"
  size="16"
/>
</div>

<button class="button button-black" value="Reset Password" type="submit">{{ 'customer.recover_password.submit' | t | upcase}}</button>

{% endform %} 
</div>

</div>
</section>