
{%- assign section_settings = section.settings -%}
{%- assign announcement_message = section.settings.message_text -%}
{%- assign message_link = section.settings.message_link -%}
{%- assign message_text = section.settings.message_text -%}
{%- assign right_text = section.settings.right_text -%}
{%- assign right_link = section.settings.right_link -%}
{%- assign header_padding = section.settings.header_padding -%}
{%- assign color_bg = section.settings.color_bg -%}
{%- assign color_text = section.settings.color_text -%}
{%- assign color_text_hover = section.settings.color_text_hover -%}
{%- assign global_img = section.settings.global_img -%}
{%- assign country_selector = section.settings.country_selector -%}
{% assign blocks = section.blocks %}

  <div class="announcement-bar container"> 
  <div class="announcement__left">
  <div class="country_dropbtn">
          <img class="country-flag-menu lazy" data-src="{{ global_img | img_url: 'master' }}" />
          <p>{{country_selector}}</p>
          <div class="country-dropdown-content">   
          {% if blocks %}
            {% for block in blocks %}
              {% assign block_settings = block.settings %}
              {% assign flag = block_settings.flag %}
              {% assign country = block_settings.country %}
              {% assign country_page = block_settings.country_page %}
                <a href="{{country_page}}"><img class="country-flag lazy" data-src="{{ flag | img_url: 'master' }}"><p> {{country}} </p></a>
            {% endfor %}
          {% endif %}
          </div>
    </div>
  </div>
  <div class="announcement__middle"> 
    <a href="{{message_link}}" class="announcement-bar--link">  
      <p class="announcement-bar__message">{{ message_text}}</p>
    </a>
  </div>
  <div class="announcement__right">
  <a {%if right_link != blank%} href="{{right_link}}" {%endif%} class="announcement-bar--link"><p style="text-decoration: underline">{{right_text}}</p></a>
  </div>
</div>


<style>
    .announcement-bar {
      background-color: {{color_bg}};
      text-align:center;
      {% if section.settings.header_padding > 0 %}
        position:absolute;
        top: -{{ header_padding }}px !important;
        left:0;
        width:100%;
        z-index:9;
      {% endif %}
      display: flex;
      justify-content: space-between;
      height: 45px;
      z-index: 10;
    
    }
    .announcement-bar p {
      padding: 16px 0;
      font-size: 1.4rem;
      margin:0 !important;
      letter-spacing: 1px;
      font-family: "CalibreRegular";
      font-weight: 400;
    }
    .announcement-bar__message,
    .announcement-bar--link,
    .announcement__left p,
    .announcement__right p {
      color: {{ color_text}};
      justify-content: center;
    }
    .announcement-bar--link:hover, 
    .announcement-bar--link:hover .announcement-bar__message {
      color: {{color_text_hover}} !important;
    }
    body {
      position:relative;
      top: {{header_padding}}px !important;
    }
</style>

{% stylesheet %}
  .announcement__middle{
    width: 50%;
    background: transparent;
  }
  .announcement__left,
  .announcement__right{
   width: 25%;
   display: flex;
}
.announcement__right{
  justify-content: flex-end;
}
.announcement__left{
  justify-content: flex-start;
}
.country_dropbtn{
  display: flex;
  overflow: hidden;
  outline: none;
  border: none;
  margin: 0;
  justify-content: flex-end;
}
.country-dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 #e3e3e3;
  z-index: 1;
  top:100%;
  left: 2%;
  width: 220px;
}
.country-dropdown-content p{
  color: black !important;
  padding: 0.2rem 0 0 0 !important;
}
.country-dropdown-content a {
  display: flex;
  color: black;
  padding: 15px !important;
  text-align: left;
  vertical-align: middle;
  letter-spacing: 1px;
  border-bottom: 0.2px solid #e3e3e3;
}
.country-dropdown-content a:hover{
  font-weight: bold;
  background-color: #f5f5f5;
}
.country_dropbtn:hover .country-dropdown-content{
  display: block;
}
.country-flag-menu {
    width: auto;
    height: 100%;
    max-height: 16px;
    padding-right: 0.5rem;
    margin-top: 1.4rem;
    object-fit: cover;
 }
 .country-flag{
   width: auto;
   height: 100%;
   max-height: 16px;
   object-fit: cover;
   margin-right: 1.5rem;
 }
 @media (max-width: 768px) {
  .announcement__left,
  .announcement__right{
    display: none;
  }
  .announcement__middle{
    width: 100%;
  }
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
    {
        "type":   "range",
        "id":     "header_padding",
        "min":    0,
        "max":    100,
        "step":   1,
        "unit":   "px",
        "label":  "Header padding",
        "default":   0
    },
    {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "text",
        "id": "right_text",
        "label": "Right text",
        "default": "Add something here"
      },
      {
        "type": "url",
        "id": "right_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Fonts and colors"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#ffffff"
      },
    {
        "type": "color",
        "id": "color_text_hover",
        "label": "Link hover color",
        "default": "#eeeeee"
      },
      {
        "type": "header",
        "content": "Country Dropdown"
      },
      {
        "type": "image_picker",
        "id": "global_img",
        "label": "Global Flag"
      },
      {
        "type": "text",
        "id": "country_selector",
        "label": "Country Name"
      }
    ],
     "blocks": [
      {
        "type": "country_selector",
        "name": "Country Selector",
        "settings": [
          {
              "type": "image_picker",
              "id": "flag",
              "label": "Country Flag"
          },
          {
            "type": "text",
            "id": "country",
            "label": "Country Name"
          },
          {
            "type": "url",
            "id": "country_page",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}