{% comment %} General {% endcomment %}
{%- assign section_settings = section.settings -%}
{%- assign menu = section_settings.menu -%}
{%- assign menu_logo = section_settings.menu_logo -%}

<header id="site-nav" class="header">
  <div class="container">
    <div class="header_inmer">

      <nav class="nav" role="navigation" style="display: flex">
        {% for link in linklists[menu].links %}
       <a class="{% if link.active %}active{% endif %}" href= "{{ link.url }}">
       <div class="link_title">{{ link.title }}</div>
       </a> 
        {% endfor %}
        
      </nav>
      <img class="header_logo" src="{{ 'logo.svg' | asset_url}}"/>
      <nav class="nav" role="navigation" style="display: flex">
         <a href="{{ routes.account_url }}"><div class="link_title">FAQ</div></a>
      {% if customer %}
          <a href="{{ routes.account_url }}"><div class="link_title">{{ 'layout.customer.account' | t }}</div></a>
          <a href="{{ routes.account_login_url }}"><div class="link_title">{{ 'layout.customer.log_out' | t }}</div></a>
        {% else %}
          <a href="{{ routes.account_register_url }}"><div class="link_title">{{ 'layout.customer.create_account' | t }}</div></a>
          <a href="{{ routes.account_login_url }}"><div class="link_title">{{ 'layout.customer.log_in' | t }}</div></a>
        {% endif %}
       
      <div class="js-cart-trigger menu-cart">
      <div class="link_title">
        <span>Cart</span>
        <span class="js-cart-counter"></span>
        </div>
      </div>
</nav>
    </div>
</div>
</header>
{% stylesheet %}
   
{% endstylesheet %} 
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "image_picker",
        "id": "menu_logo",
        "label": "Logo"
      }
    ]
  }
{% endschema %}
