{% comment %} General {% endcomment %}
{%- assign section_settings = section.settings -%}
{%- assign menu = section_settings.menu -%}
{%- assign menu_mobile = section_settings.menu_mobile -%}
{%- assign menu_logo = section_settings.menu_logo -%}
{%comment%}Desktop Mega Menu{%endcomment%}
{%- assign shop_img = section_settings.shop_img -%}
{%- assign shop_link = section_settings.shop_link -%}
{%- assign shop_title= section_settings.shop_title-%}
{%- assign shop_img_2 = section_settings.shop_img_2 -%}
{%- assign shop_link_2 = section_settings.shop_link_2 -%}
{%- assign shop_title_2 = section_settings.shop_title_2 -%}
{%- assign shop_img_3 = section_settings.shop_img_3 -%}
{%- assign shop_link_3 = section_settings.shop_link_3 -%}
{%- assign shop_title_3 = section_settings.shop_title_3 -%}
{%- assign shop_img_4 = section_settings.shop_img_4 -%}
{%- assign shop_link_4 = section_settings.shop_link_4 -%}
{%- assign shop_title_4 = section_settings.shop_title_4 -%}
{%- assign about_img = section_settings.about_img -%}
{%- assign about_link = section_settings.about_link -%}
{%- assign about_title= section_settings.about_title-%}
{%- assign about_img_2 = section_settings.about_img_2 -%}
{%- assign about_link_2 = section_settings.about_link_2 -%}
{%- assign about_title_2 = section_settings.about_title_2 -%}
{%- assign about_img_3 = section_settings.about_img_3 -%}
{%- assign about_link_3 = section_settings.about_link_3 -%}
{%- assign about_title_3 = section_settings.about_title_3 -%}
{%- assign about_img_4 = section_settings.about_img_4 -%}
{%- assign about_link_4 = section_settings.about_link_4 -%}
{%- assign about_title_4 = section_settings.about_title_4 -%}
{%comment%}Mobile Links{%endcomment%}
{%- assign mobile_link_1 = section_settings.mobile_link_1-%}
{%- assign mobile_title_1 = section_settings.mobile_title_1-%}
{%- assign mobile_link_2 = section_settings.mobile_link_2-%}
{%- assign mobile_title_2 = section_settings.mobile_title_2-%}
{%- assign mobile_link_3 = section_settings.mobile_link_3-%}
{%- assign mobile_title_3 = section_settings.mobile_title_3-%}
{%- assign mobile_link_4 = section_settings.mobile_link_4-%}
{%- assign mobile_title_4 = section_settings.mobile_title_4-%}
{%comment%}Best Seller Section{%endcomment%}
{%- assign best_seller_img_1 = section_settings.best_seller_img_1-%}
{%- assign best_seller_title_1 = section_settings.best_seller_title_1-%}
{%- assign best_seller_url_1 = section_settings.best_seller_url_1-%}
{%- assign best_seller_img_2 = section_settings.best_seller_img_2-%}
{%- assign best_seller_title_2 = section_settings.best_seller_title_2-%}
{%- assign best_seller_url_2 = section_settings.best_seller_url_2-%}
{%comment%}Country Dropdown{%endcomment%}
{%- assign global_img = section.settings.global_img -%}
{%- assign country_selector = section.settings.country_selector -%}
{%- assign flag_1= section.settings.flag_1-%}
{%- assign country_1 = section.settings.country_1 -%}
{%- assign flag_2 = section.settings.flag_2 -%}
{%- assign country_2 = section.settings.country_2 -%}
{%- assign flag_3 = section.settings.flag_3 -%}
{%- assign country_3 = section.settings.country_3 -%}
{%- assign flag_4 = section.settings.flag_4 -%}
{%- assign country_4 = section.settings.country_4 -%}
{%- assign flag_5 = section.settings.flag_5 -%}
{%- assign country_5 = section.settings.country_5 -%}

<header id="site-nav" class="header">
  <div class="container">
    <div class="header_inmer">

      <nav class="nav" id="left_menu" role="navigation" style="display: flex">
        {% for link in linklists[menu].links %}
       <div class="{{link.title}}" id="dropdown-wrapper">
       <a class="{% if link.active %}active{% endif %}"  href= "{{ link.url }}">
       <h4 class="menu_left_title">{{ link.title }}</h4>
       </a>
      
       <div class="dropdown-content">
       <a href="{{shop_link}}"> 
       <img src="{{ shop_img | img_url: 'master' }}" />
       <h2>{{shop_title}}</h2>
       </a>
       <a href="{{shop_link_2}}"> 
       <img src="{{ shop_img_2 | img_url: 'master' }}" />
       <h2>{{shop_title_2}}</h2>
       </a> 
       <a href="{{shop_link_3}}"> 
       <img src="{{ shop_img_3 | img_url: 'master' }}" />
       <h2>{{shop_title_3}}</h2>
       </a>
        <a href="{{shop_link_4}}"> 
       <img src="{{ shop_img_4 | img_url: 'master' }}" />
       <h2>{{shop_title_4}}</h2>
       </a>
       </div>

       <div class="dropdown-content-2">
       <a href="{{about_link}}"> 
       <img src="{{ about_img | img_url: 'master' }}" />
       <h2>{{about_title}}</h2>
       </a>
       <a href="{{about_link_2}}"> 
       <img src="{{ about_img_2| img_url: 'master' }}" />
       <h2>{{about_title_2}}</h2>
       </a> 
       <a href="{{about_link_3}}"> 
       <img src="{{ about_img_3 | img_url: 'master' }}" />
       <h2>{{about_title_3}}</h2>
       </a>
        <a href="{{about_link_4}}"> 
       <img src="{{ about_img_4 | img_url: 'master' }}" />
       <h2>{{about_title_4}}</h2>
       </a>
       </div>
       </div>
        {% endfor %}
      </nav>
{%comment%} Mobile Header {%endcomment%}
    <nav role="navigation" id="left_menu-mobile" style="display: none">
    <div id="menuToggle">
    <input type="checkbox" />
  
    <span></span>
    <span></span>
    <span></span>
    
    <div id="menu">  
    <div class="menu_wrapper_mobile">   
      <a href="{{mobile_link_1}}"><h2>{{mobile_title_1}}</h2></a>
      <a href="{{mobile_link_2}}"><h2>{{mobile_title_2}}</h2></a>
      <a href="{{mobile_link_3}}"><h2>{{mobile_title_3}}</h2></a>
      <a href="{{mobile_link_4}}"><h2>{{mobile_title_4}}</h2></a>
     
      <h3>Best sellers</h3>
      <div class="best-sellers">
       <a href="{{best_seller_url_1}}"> 
       <img src="{{ best_seller_img_1 | img_url: 'master' }}" />
       <p>{{best_seller_title_1}}</p>
       </a>
       <a href="{{best_seller_url_2}}"> 
       <img src="{{ best_seller_img_2 | img_url: 'master' }}" />
       <p>{{best_seller_title_2}}</p>
       </a>
      </div>
    <div class="mobile_links">
      {% for link in linklists[menu_mobile].links %}
          <a class="{% if link.active %}active{% endif %}" href= "{{ link.url }}">{{ link.title }}</a>
        {% endfor %}     
    </div>
    <div class="mobile_links" id="mobile_account">
     {% if customer %}
          <a href="{{ routes.account_url }}"><p>{{ 'layout.customer.account' | t }}</p></a>
          <a href="{{ routes.account_login_url }}"><p>{{ 'layout.customer.log_out' | t }}</p></a>
        {% else %}
          <a href="{{ routes.account_register_url }}"><p>{{ 'layout.customer.create_account' | t }}</p></a>
          <a href="{{ routes.account_login_url }}"><p>{{ 'layout.customer.log_in' | t }}</p></a>
        {% endif %}
        </div>
        <div class="mobile_selector" style="height: 25rem">
          <div class="country-selector country-selector-mobile">
       <div class="dropdown">
       <a class="dropbtn" href="#">
       <img class="country-flag-menu country-flag-menu-mobile" src="{{ global_img | img_url: 'master' }}" />
        <p style="margin: 0; padding-top: 0.3rem;">{{country_selector}}</p>
       </a>
       <div class="dropdown-content-mobile">
        <a href="#"><img class="country-flag country-flag-mobile" src="{{ flag_1 | img_url: 'master' }}"><p>{{country_1}}</p></a>
        <a href="#"><img class="country-flag country-flag-mobile" src="{{ flag_2 | img_url: 'master' }}"><p>{{country_2}}</p></a>
        <a href="#"><img class="country-flag country-flag-mobile" src="{{ flag_3 | img_url: 'master' }}"><p>{{country_3}}</p></a>
        <a href="#"><img class="country-flag country-flag-mobile" src="{{ flag_4 | img_url: 'master' }}"><p>{{country_4}}</p></a>
        <a href="#"><img class="country-flag country-flag-mobile" src="{{ flag_5 | img_url: 'master' }}"><p>{{country_5}}</p></a>
       </div>
       </div>
       </div>
    </div>
    </div>
  </div>
  </div>
</nav>
{%comment%} End of Mobile Header {%endcomment%}
      <a href="/index" class="logo_link"><img class="header_logo" src="{{ 'logo.svg' | asset_url}}"/></a>
      <nav class="nav" id="right_menu" role="navigation" style="display: flex">
         <a href="/pages/faqs" class="header-faq"><div class="link_title">FAQ</div></a>
      {% if customer %}
          
           <a href="{{ routes.account_url }}" class="header-signup"><div class="link_title">{{ 'layout.customer.account' | t }}</div></a>
        {% else %} 
          
          <a href="{{ routes.account_login_url }}" class="header-signup"><div class="link_title">Sign up</div></a>
        {% endif %}
       
      <div class="js-cart-trigger menu-cart">
      <div class="link_title" id="suitcase_cart">
         <span class="js-cart-counter"></span>
        <img class="suitcase" src="{{ 'suitcase.svg' | asset_url}}"/>
        </div>
      </div>
</nav>
    </div>
</div>
</header>
<style>
  .sticky {
  position: fixed !important;
  top: 0;
}
</style>
<script>
window.onscroll = function() {myFunction()};
var navbar =   document.querySelector(".header");
var sticky = navbar.offsetTop;
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
       {
        "type": "link_list",
        "id": "menu_mobile",
        "label": "Mobile Menu"
      },
      {
        "type": "image_picker",
        "id": "menu_logo",
        "label": "Logo"
      },
      {
        "type": "header",
        "content": "Dropdown Menu - Shop"
      },
      {
        "type": "image_picker",
        "id": "shop_img",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "shop_link",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "shop_title",
        "label": "Image Title"
      },
      {
        "type": "image_picker",
        "id": "shop_img_2",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "shop_link_2",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "shop_title_2",
        "label": "Image Title"
      },
      {
        "type": "image_picker",
        "id": "shop_img_3",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "shop_link_3",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "shop_title_3",
        "label": "Image Title"
      },
      {
        "type": "image_picker",
        "id": "shop_img_4",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "shop_link_4",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "shop_title_4",
        "label": "Image Title"
      },
       {
        "type": "header",
        "content": "Dropdown Menu - About"
      },
      {
        "type": "image_picker",
        "id": "about_img",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "about_link",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "about_title",
        "label": "Image Title"
      },
      {
        "type": "image_picker",
        "id": "about_img_2",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "about_link_2",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "about_title_2",
        "label": "Image Title"
      },
      {
        "type": "image_picker",
        "id": "about_img_3",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "about_link_3",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "about_title_3",
        "label": "Image Title"
      },
      {
        "type": "image_picker",
        "id": "about_img_4",
        "label": "Dropdown Image"
      },
      {
        "type": "url",
        "id": "about_link_4",
        "label": "Image Link"
      },
      {
        "type": "text",
        "id": "about_title_4",
        "label": "Image Title"
      },
      {
        "type": "header",
        "content": "Mobile Menu"
      },
      {
        "type": "text",
        "id": "mobile_title_1",
        "label": "Mobile Link Title"
      },
      {
        "type": "url",
        "id": "mobile_link_1",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "mobile_title_2",
        "label": "Mobile Link Title"
      },
      {
        "type": "url",
        "id": "mobile_link_2",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "mobile_title_3",
        "label": "Mobile Link Title"
      },
      {
        "type": "url",
        "id": "mobile_link_3",
        "label": "Mobile Link"
      },
      {
        "type": "text",
        "id": "mobile_title_4",
        "label": "Mobile Link Title"
      },
      {
        "type": "url",
        "id": "mobile_link_4",
        "label": "Mobile Link"
      },
      {
        "type": "header",
        "content": "Best Sellers"
      },
      {
        "type": "image_picker",
        "id": "best_seller_img_1",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "best_seller_title_1",
        "label": "Name"
      },
      {
        "type": "url",
        "id": "best_seller_url_1",
        "label": "Link"
      },
       {
        "type": "image_picker",
        "id": "best_seller_img_2",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "best_seller_title_2",
        "label": "Name"
      },
      {
        "type": "url",
        "id": "best_seller_url_2",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Country Dropdown"
      },
      {
        "type": "image_picker",
        "id": "global_img",
        "label": "Global Flag"
      },
      {
        "type": "text",
        "id": "country_selector",
        "label": "Country Name"
      },
      {
        "type": "image_picker",
        "id": "flag_1",
        "label": "Country Flag"
      },
         {
        "type": "text",
        "id": "country_1",
        "label": "Country Name"
      },
      {
        "type": "image_picker",
        "id": "flag_2",
        "label": "Country Flag"
      },
         {
        "type": "text",
        "id": "country_2",
        "label": "Country Name"
      },
      {
        "type": "image_picker",
        "id": "flag_3",
        "label": "Country Flag"
      },
         {
        "type": "text",
        "id": "country_3",
        "label": "Country Name"
      },
      {
        "type": "image_picker",
        "id": "flag_4",
        "label": "Country Flag"
      },
         {
        "type": "text",
        "id": "country_4",
        "label": "Country Name"
      },
      {
        "type": "image_picker",
        "id": "flag_5",
        "label": "Country Flag"
      },
         {
        "type": "text",
        "id": "country_5",
        "label": "Country Name"
      }
    ]
  }
{% endschema %}

