{% assign section_setting = section.settings  %}
{% assign title = section_setting.Title %}
{% assign subtitle = section_setting.subtitle %}
{% assign subheading = section_setting.subheading %}
{% assign buttonText = section_setting.buttonText %}
{% assign buttonLink = section_setting.buttonLink %}
{% assign backup_image = section_setting.backup_image %}



<section class="heroBanner">
<video autoplay loop autobuffer muted playsinline width="100%" style="position:relative" class="lazy">
  <source data-src="https://cdn.shopify.com/s/files/1/0274/8609/3447/files/homevideo.mp4?v=1599735823" type="video/mp4">
  <source data-src="https://cdn.shopify.com/s/files/1/0274/8609/3447/files/homevideo.webm?v=1599735823" type="video/webm">
  <source data-src="https://cdn.shopify.com/s/files/1/0274/8609/3447/files/homevideo.ogg?v=1599735816" type="video/ogg">
    <img data-src="{{ backup_image | img_url: 'master' }}" class="lazy"/>
</video>
<div class="heroBanner_overlay">
<p>{{subtitle}}</p>
<h2>{{title}}</h2>
<h3>{{subheading}}</h3>
{% if buttonText != blank and buttonLink != blank %}  
<a class="button" href="{{buttonLink}}"> {{buttonText}} </a>
{% endif %}
</div>
</section>

{% schema %}
    {
        "name": "Hero Banner",
        "settings": [
            {
                "type": "header",
                "content": "Title & Subheading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Introduction"
            },
            {
                "type": "text",
                "id": "Title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "subheading"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "buttonText",
                "label": "buttonText"
            },
            {
                "type": "url",
                "id": "buttonLink",
                "label": "buttonLink"
            },
            {
                "type": "header",
                "content": "Images"
            },
            {
                "type": "image_picker",
                "id": "backup_image",
                "label": "Back-up Image for video"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "hero banner",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}