{% assign section_setting = section.settings  %}
{% assign title = section_setting.Title %}
{% assign subtitle = section_setting.subtitle %}
{% assign subheading = section_setting.subheading %}
{% assign buttonText = section_setting.buttonText %}
{% assign buttonLink = section_setting.buttonLink %}
{% assign banner_image = section_setting.banner_image %}



<section class="heroBanner">

  <img src="{{ banner_image | img_url: 'master' }}" />

<div class="heroBanner_overlay">
<p>{{subtitle}}</p>
<h2>{{title}}</h2>
<h3>{{subheading}}</h3>
{% if buttonText != blank and buttonLink != blank %}  
<a class="button" href="{{buttonLink}}"> {{buttonText}} </a>
{% endif %}
</div>
</section>

{% schema %}
    {
        "name": "Hero Banner Image",
        "settings": [
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "image_picker",
                "id": "banner_image",
                "label": "Banner Image"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Introduction"
            },
            {
                "type": "text",
                "id": "Title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "subheading"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "buttonText",
                "label": "buttonText"
            },
            {
                "type": "url",
                "id": "buttonLink",
                "label": "buttonLink"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "hero banner image",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}