{% assign section_settings = section.settings  %}
{% assign feed_title = section_settings.feed_title %}

{% if product.metafields["global"]["feed-image-1"] != blank and product.metafields["global"]["feed-image-2"] != blank and product.metafields["global"]["feed-image-3"] != blank and product.metafields["global"]["feed-image-4"] != blank %}
<div class="influencerFeed">
{% if feed_title != blank %}
    <div class="influencerFeed-title product-text">
        <h2>{{feed_title}}</h2>
    </div>
{% endif %}
    <div class="influencerFeed-img">
        <img data-src="{{ product.metafields["global"]["feed-image-1"] }}" class="lazy"/>
        <img data-src="{{ product.metafields["global"]["feed-image-2"] }}" class="lazy"/>
        <img data-src="{{ product.metafields["global"]["feed-image-3"] }}" class="lazy"/>
        <img data-src="{{ product.metafields["global"]["feed-image-4"] }}" class="lazy"/>
    </div>
</div>
{% endif %}

{% schema %}
    {
        "name": "Influencer Feed",
        "settings": [
            {
                "type": "header",
                "content": "Title"
            },
            {
                "type": "text",
                "id": "feed_title",
                "label": "Feed title"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "influencer feed",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}