<section class="password section">
  <div class="password_container">
    <div class="password_content">

      <header>
        <h1 class="password_heading">{{ 'general.password_page.opening_soon' | t }}</h1>
      </header>

      {% form 'storefront_password', class: 'password_form form form-small' %}
        <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>

      	<p>{{ form.errors | default_errors | strip_html }}</p>

        <div class="formGroup">
        	<label for="password" class="visually-hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
        	<input class="input input-dark" type="password" name="password" id="Password" placeholder="{{- 'general.password_page.login_form_password_placeholder' | t -}}">
      	</div>

      	<button class="button" type="submit" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
      {% endform %}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Password page",
    "settings": [
    ]
  }
{% endschema %}
