{% assign section_settings = section.settings %}
{% assign preorder_text = section_settings.preorder_text %}
{% assign product_title = product.title %}
{% assign product_description = product.description %}
{% assign active_product = product.selected_or_first_available_variant %}
{% assign product_id = active_product.id %}
{% assign product_available = active_product.available %}
{% assign shipping_header = section_settings.shipping_header %}
{% assign shipping_details = section_settings.shipping_details %}
{% assign trial_header = section_settings.trial_header %}
{% assign trial_details = section_settings.trial_details %}
{% assign return_header = section_settings.return_header %}
{% assign return_details = section_settings.return_details %}
{% assign service_header = section_settings.service_header %}
{% assign service_details = section_settings.service_details %}

{% comment %} Price {% endcomment %}
{% assign product_price = active_product.price %}
{% assign product_compare_price = active_product.compare_at_price %}
<div class="product__header">
<h1 class="product_title">{{ product_title }}</h1>

<div class="product_pricing{% if class %} {{ class }}{% endif %}">
  {%- if product_price < product_compare_price -%}
    <span class="product_price">{{- product_price | money -}}</span>
    <span class="product_price product_price-sale">{{- product_compare_price | money -}}</span>
  {%- else -%}
    <span class="product_price">{{- product_price | money -}}</span>
  {%- endif -%}
</div>
</div>

<div class="productReviews">
{% include 'product-reviews' %}
</div>

{% include 'product-form' with product %}
{% include 'viewer-shipping' %}
<div class="product-info-mobile">{% include 'product-info-mobile' %}</div>
{%comment%} Return/Shipping Section {%endcomment%}
<div class="returnDetails">
    <div class="returnDetails-left">
      <h4 class="shipping-modal"><span><img src="{{ 'truck.svg' | asset_url}}"/></span>Free Shipping</h4>
      <h4 class="trial-modal"><span><img src="{{ 'trial.svg' | asset_url}}"/></span>14 days trial</h4>
    </div>
    <div class="returnDetails-right">
      <h4 class="return-modal"><span><img src="{{ 'return.svg' | asset_url}}"/></span>Easy returns</h4>
      <h4 class="service-modal"><span><img src="{{ 'service.svg' | asset_url}}"/></span>Personal service</h4>
    </div>

    {%comment%} Slide in modal {%endcomment%}
    
        <div class="modal-small modal_container" id="shippingContainer">
        <div class="shipping_close modal_close"></div>
          <div class="modal-container-wrapper">       
            <h2>{{shipping_header}}</h2>
            <p>{{shipping_details}}</p>       
          </div>
        </div>
    <div class="modal" id="shippingModal"></div>
    
        <div class="modal-small modal_container" id="trialContainer">
        <div class="trial_close modal_close"></div>
          <div class="modal-container-wrapper">
            <h2>{{trial_header}}</h2>
            <p>{{trial_details}}</p>
          </div>
        </div>
    <div class="modal" id="trialModal"></div>
    
        <div class="modal-small modal_container" id="returnContainer">
        <div class="return_close modal_close"></div>
          <div class="modal-container-wrapper">
            <h2>{{return_header}}</h2>
            <p>{{return_details}}</p>
          </div>
        </div>
    <div class="modal hide" id="returnModal"></div>
    
        <div class="modal-small modal_container" id="serviceContainer">
        <div class="service_close modal_close"></div>
          <div class="modal-container-wrapper">
            <h2>{{service_header}}</h2>
            <p>{{service_details}}</p>
          </div>
        </div>
    <div class="modal" id="serviceModal"></div>
</div>
<div class="call-chat-desktop">{% include 'call-chat' %}</div>
<style>
.modal_close{
  background: url({{'close.png' | asset_url}}) no-repeat center;
  background-size: 50% 50%;
}
</style>
<script>

document.querySelector(".shipping-modal").addEventListener("click", openModalShipping);
document.querySelector(".trial-modal").addEventListener("click", openModalTrial);
document.querySelector(".return-modal").addEventListener("click", openModalReturn);
document.querySelector(".service-modal").addEventListener("click", openModalService); 

function openModalShipping(){
  document.querySelector("#shippingModal").classList.add("visibility-open");
  document.querySelector("body").classList.add("overflow-hidden");
  document.querySelector("#shippingContainer").classList.add("slide-in");
  document.querySelector("#shippingModal").addEventListener("click", closeModalShipping);
  document.querySelector(".shipping_close").addEventListener("click", closeModalShipping);
  document.querySelector("#shippingContainer").addEventListener("click", closeModalShipping);
}

function closeModalShipping(){
  document.querySelector("#shippingModal").classList.remove("visibility-open");
  document.querySelector("body").classList.remove("overflow-hidden");
  document.querySelector("#shippingContainer").classList.remove("slide-in");
}

function openModalTrial(){
  document.querySelector("#trialModal").classList.add("visibility-open");
  document.querySelector("body").classList.add("overflow-hidden");
  document.querySelector("#trialContainer").classList.add("slide-in");
  document.querySelector("#trialModal").addEventListener("click", closeModalTrial);
  document.querySelector(".trial_close").addEventListener("click", closeModalTrial);
  document.querySelector("#trialContainer").addEventListener("click", closeModalTrial);
}

function closeModalTrial(){
  document.querySelector("#trialModal").classList.remove("visibility-open");
  document.querySelector("body").classList.remove("overflow-hidden");
  document.querySelector("#trialContainer").classList.remove("slide-in");
}

function openModalReturn(){
  document.querySelector("#returnModal").classList.add("visibility-open");
  document.querySelector("body").classList.add("overflow-hidden");
  document.querySelector("#returnContainer").classList.add("slide-in");
  document.querySelector("#returnModal").addEventListener("click", closeModalReturn);
  document.querySelector(".return_close").addEventListener("click", closeModalReturn);
  document.querySelector("#returnContainer").addEventListener("click", closeModalReturn);
}

function closeModalReturn(){
  document.querySelector("#returnModal").classList.remove("visibility-open");
  document.querySelector("body").classList.remove("overflow-hidden");
  document.querySelector("#returnContainer").classList.remove("slide-in");
}

function openModalService(){
  document.querySelector("#serviceModal").classList.add("visibility-open");
  document.querySelector("body").classList.add("overflow-hidden");
  document.querySelector("#serviceContainer").classList.add("slide-in");
  document.querySelector("#serviceModal").addEventListener("click", closeModalService);
  document.querySelector(".service_close").addEventListener("click", closeModalService);
  document.querySelector("#serviceContainer").addEventListener("click", closeModalService);
}

function closeModalService(){
  document.querySelector("#serviceModal").classList.remove("visibility-open");
  document.querySelector("body").classList.remove("overflow-hidden");
  document.querySelector("#serviceContainer").classList.remove("slide-in");
}
</script>


{% schema %}
  {
    "name": "Product details",
    "class": "product_details",
    "settings": [
      {
        "type": "header",
        "content": "Return & Shipping Details"
      },
      {
        "type": "text",
        "id": "shipping_header",
        "label": "Shipping header"
      },
      {
        "type": "richtext",
        "id": "shipping_details",
        "label": "Shipping details"
      },
      {
        "type": "text",
        "id": "trial_header",
        "label": "Trial header"
      },
      {
        "type": "richtext",
        "id": "trial_details",
        "label": "Trial details"
      },
      {
        "type": "text",
        "id": "return_header",
        "label": "Return header"
      },
      {
        "type": "richtext",
        "id": "return_details",
        "label": "Return details"
      },
      {
        "type": "text",
        "id": "service_header",
        "label": "Service header"
      },
      {
        "type": "richtext",
        "id": "service_details",
        "label": "Service details"
      }
    ]
  }
{% endschema %}


