{%- assign section_settings = section.settings -%}
{%- assign number_of_products = collection.products | size -%}
{%- assign products_per_page = section_settings.products_per_page -%}
{%- assign empty_collection_text = section_settings.empty_collection_text -%}

<section class="productsList section">
  <div class="container">
    {%- if number_of_products > 0 -%}
      <div class="productsList_inner">

      {%- comment -%} Loop through products {% endcomment -%}
      {% paginate collection.products by products_per_page %}

        {% comment %} Loop through products {% endcomment %}
        {%- for product in collection.products -%}
          {%- assign product_title = product.title -%}
          {%- assign product_handle = product.handle -%}
          {%- assign active_product = product.selected_or_first_available_variant -%}
          {%- assign product_id = active_product.id -%}
          {%- assign product_url = active_product.url | within: collection -%}
          {%- assign price = active_product.price -%}
          {%- assign compare_price = active_product.compare_at_price -%}
          {%- assign product_available = active_product.available -%}

          <div id="product-{{ product_id }}" class="productCard">
            {% comment %} Product gallery {% endcomment %}
            <div class="swiper-container-2 swiper4">
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="swiper-slide-2"><img data-src="{{ image | product_img_url: 'master'}}" alt="{{product.title}}" class="lazy"/></div>
                {% endfor %}
              </div>
      
              <div class="swiper-pagination"></div>
            </div>
      
            {% comment %} Details {% endcomment %}
            <div class="productCard_details">
            <div class="productCard_details-flex">
              <a class="productCard_title" href="{{ product_url }}">{{ product_title }}</a>

              {% comment %} Price {% endcomment %}
              <div class="productCard_pricing" style="margin: 10px 0 5px !important;">
                {%- if price < compare_price -%}
                <span class="productCard_price">{{- price | money -}}</span>
                <span class="productCard_price productCard_price-sale">{{- compare_price | money -}}</span>
                {%- else -%}
                <span>{{- price | money -}}</span>
                {%- endif -%}
              </div> 
</div>
              <form action="/cart/add" method="post" enctype="multipart/form-data" class="product_form" id="add-to-cart-{{ product_handle }}">

                <input type="hidden" name="id" value="{{ product_id }}" />
                <input type="hidden" name="quantity" value="1">

                {% if product_available %}
                  <button type="submit" name="add" class="js-cart-add-to-cart button button-black productCart_button">{{ 'products.product.add_to_cart' | t }}</button>
                {% else %}
                  <button type="submit" name="add" class="button productCart_button button-grey" disabled>{{ 'products.product.sold_out' | t }}</button>
                {% endif %}
              </form>

            </div>
          </div>
    
        {%- endfor -%}

        {% comment %} Pagination {% endcomment %}
        {%- include 'pagination' -%}
      {% endpaginate %}

      </div>

    {% comment %} If collection does not contain products {% endcomment %}
    {%- else -%}
      <div>{{ 'collections.general.no_matches' | t }}</div>
    {%- endif -%}
  </div>
</div>
{% javascript %}

    var swiper = new Swiper('.swiper4', {
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
       debugger: true,
    });
{% endjavascript %}

{% comment %}
  Tiffany: Consider moving this to theme.scss.liquid
{% endcomment %}
<style>
.productCard {
  box-sizing: border-box;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.productCart_button {
  width: 100%;
}
</style>

{% schema %}
  {
    "name": "Product list",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Number of products per page",
        "default": 10
      }
    ]
  }
{% endschema %}
