{% assign section_setting = section.settings  %}
{% assign blocks = section.blocks %}
{% assign highlightheading = section_setting.highlightheading %}
{% assign swiper_image_one = section_setting.swiper_image_one%}
{% assign swiper_link_one = section_setting.swiper_link_one%}
{% assign swiper_title_one = section_setting.swiper_title_one%}
{% assign swiper_subheading_one = section_setting.swiper_subheading_one%}
{% assign swiper_image_two = section_setting.swiper_image_two%}
{% assign swiper_link_two = section_setting.swiper_link_two%}
{% assign swiper_title_two = section_setting.swiper_title_two%}
{% assign swiper_subheading_two = section_setting.swiper_subheading_two%}
{% assign swiper_image_three = section_setting.swiper_image_three%}
{% assign swiper_link_three = section_setting.swiper_link_three%}
{% assign swiper_title_three = section_setting.swiper_title_three%}
{% assign swiper_subheading_three = section_setting.swiper_subheading_three%}
{% assign swiper_image_four = section_setting.swiper_image_four%}
{% assign swiper_link_four = section_setting.swiper_link_four%}
{% assign swiper_title_four = section_setting.swiper_title_four%}
{% assign swiper_subheading_four = section_setting.swiper_subheading_four%}
{% assign swiper_image_five = section_setting.swiper_image_five%}
{% assign swiper_link_five = section_setting.swiper_link_five%}
{% assign swiper_title_five = section_setting.swiper_title_five%}
{% assign swiper_subheading_five = section_setting.swiper_subheading_five%}


<section class="container productHighlights">
<h1>{{ highlightheading}}</h1>
  <div class="highlights__flex">

    {% if blocks %}
      {% for block in blocks %}
        {% assign block_settings = block.settings %}
        {% assign highlight_image = block_settings.highlight_image %}
        {% assign highlight_link = block_settings.highlight_link %}
        {% assign highlight_title = block_settings.highlight_title %}
        {% assign highlight_subheading = block_settings.highlight_subheading %}
        {% assign product = all_products[block_settings.product] %}
        {% assign product_image = product.featured_image %}
        {% assign product_url = product.url %}
        {% assign product_title = product.title %}
        {% assign product_price = product.price %}

        <div class="highlight__highlights">
          <a href="{{ highlight_link }}">
            <img src="{{ highlight_image | img_url: 'master' }}"/>
          <h2>{{ highlight_title }}</h2>
          <h4>{{ highlight_subheading }}</h4>
          </a>
        </div>
      {% endfor %}
    {% endif %}
 <div class="swiper-container">
      <div class="swiper-wrapper">
        <a href="{{ swiper_link_one}}" class="swiper-slide">
        <img src="{{ swiper_image_one | img_url: 'master' }}" />
        <h2>{{ swiper_title_one }}</h2>
        <h4>{{ swiper_subheading_one }}</h4>
        </a>

        <a href="{{ swiper_link_two}}" class="swiper-slide">
        <img src="{{ swiper_image_two | img_url: 'master' }}" />
        <h2>{{ swiper_title_two }}</h2>
        <h4>{{ swiper_subheading_two }}</h4>
        </a>
        
        <a href="{{ swiper_link_three}}" class="swiper-slide">
        <img src="{{ swiper_image_three | img_url: 'master' }}" />
        <h2>{{ swiper_title_three }}</h2>
        <h4>{{ swiper_subheading_three }}</h4>
        </a>
       
        <a href="{{ swiper_link_four}}" class="swiper-slide">
        <img src="{{ swiper_image_four | img_url: 'master' }}" />
        <h2>{{ swiper_title_four }}</h2>
        <h4>{{ swiper_subheading_four }}</h4>
        </a>

        <a href="{{ swiper_link_five}}" class="swiper-slide">
        <img src="{{ swiper_image_five | img_url: 'master' }}" />
        <h2>{{ swiper_title_five }}</h2>
        <h4>{{ swiper_subheading_five }}</h4>
        </a>    
      </div>
  
      <div style="visibility: hidden" class="swiper-scrollbar"></div>

    </div>
  </div>
</section>
{% stylesheet %}
 .productHighlights {
  padding-top: 30px;
  padding-bottom: 30px;
}
.productHighlights h1 {
  color: #4c4c4b;
  font-size: 3rem;
  letter-spacing: 1px;
  padding: 10px 0;
}
.highlights__flex {
  display: inline-flex;
  justify-content: space-between;
}
.highlight__highlights {
  width: 32.9%;
}
.highlight__highlights a {
  color: black;
  text-align: left;
}
.highlight__highlights h2 {
  padding-top: 10px;
}
.highlight__highlights h4{
  margin: 0;
}
.highlight__highlights h2,
.highlight__highlights p,
.swiper-container h2,
.swiper-container p {
  color: #4c4c4b;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}
/* Mobile Version */
.swiper-container {
  width: 100%;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  display: none;
  padding-bottom: 10px;
}
.swiper-wrapper {
  transition: all 1000ms ease 0s;
}
.swiper-slide {
  text-align: left;
  font-size: 18px;
  width: 70%;
  height: 60vh;
  /* Center slide text vertically */
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-scrollbar {
  transition: all 1000ms ease 0s;
}
/* media query for mobile device */
@media (max-width: 480px) {
  .highlight__highlights {
    width: 100%;
    display: none;
  }
  .swiper-container {
    display: flex;
  }
  .swiper-container h2,
  .swiper-container p {
    padding: 0px;
  }
  .productHighlights{
    padding-top: 0;
    padding-bottom: 0;
  }
}

{% endstylesheet %}

{% javascript %}
   var swiper = new Swiper(".swiper-container", {
        slidesPerView: "auto",
        spaceBetween: 15,
        grabCursor: true,
        scrollbar: {
          el: ".swiper-scrollbar",
          hide: true,
        },
      });
{% endjavascript %}

{% schema %}
    {
        "name": "Product Highlights",
        "settings": [
          {
            "type": "text",
            "id": "highlightheading",
            "label": "Heading"
          },
          {
                "type": "header",
                "content": "Swiper Mobile"
            },
            {
                "type": "image_picker",
                "id": "swiper_image_one",
                "label": "Product Image"
            },
            {
                "type": "url",
                "id": "swiper_link_one",
                "label": "Product Link"
            },
            {
                "type": "text",
                "id": "swiper_title_one",
                "label": "Title"
            },
             {
                "type": "richtext",
                "id": "swiper_subheading_one",
                "label": "Subheading"
            },
            {
                "type": "image_picker",
                "id": "swiper_image_two",
                "label": "Product Image"
            },
            {
                "type": "url",
                "id": "swiper_link_two",
                "label": "Product Link"
            },
            {
                "type": "text",
                "id": "swiper_title_two",
                "label": "Title"
            },
             {
                "type": "richtext",
                "id": "swiper_subheading_two",
                "label": "Subheading"
            },
            {
                "type": "image_picker",
                "id": "swiper_image_three",
                "label": "Product Image"
            },
            {
                "type": "url",
                "id": "swiper_link_three",
                "label": "Product Link"
            },
            {
                "type": "text",
                "id": "swiper_title_three",
                "label": "Title"
            },
             {
                "type": "richtext",
                "id": "swiper_subheading_three",
                "label": "Subheading"
            },
            {
                "type": "image_picker",
                "id": "swiper_image_four",
                "label": "Product Image"
            },
            {
                "type": "url",
                "id": "swiper_link_four",
                "label": "Product Link"
            },
            {
                "type": "text",
                "id": "swiper_title_four",
                "label": "Title"
            },
             {
                "type": "richtext",
                "id": "swiper_subheading_four",
                "label": "Subheading"
            },
            {
                "type": "image_picker",
                "id": "swiper_image_five",
                "label": "Product Image"
            },
            {
                "type": "url",
                "id": "swiper_link_five",
                "label": "Product Link"
            },
            {
                "type": "text",
                "id": "swiper_title_five",
                "label": "Title"
            },
             {
                "type": "richtext",
                "id": "swiper_subheading_five",
                "label": "Subheading"
            }
        ],
        "blocks": [
          {
            "type": "product_highlight",
            "name": "Product highlight",
            "settings": [
              {
                  "type": "product",
                  "id": "product",
                  "label": "Product"
              },
              {
                  "type": "image_picker",
                  "id": "highlight_image",
                  "label": "Product Image"
              },
              {
                  "type": "url",
                  "id": "highlight_link",
                  "label": "Product Link"
              },
              {
                  "type": "text",
                  "id": "highlight_title",
                  "label": "Title"
              },
              {
                "type": "richtext",
                "id": "highlight_subheading",
                "label": "Subheading"
              }
            ]
          }
        ],
        "presets": [
            {
                "name": "product highlights",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}
