{% assign section_setting = section.settings  %}
{% assign blocks = section.blocks %}
{% assign highlightheading = section_setting.highlightheading %}

<div class="container">
<section class="productHighlights">
<h1>{{ highlightheading}}</h1>
  <div class="highlights__flex">

    {% if blocks %}
      {% for block in blocks %}
        {% assign block_settings = block.settings %}
        {% assign highlight_image = block_settings.highlight_image %}
        {% assign highlight_link = block_settings.highlight_link %}
        {% assign highlight_title = block_settings.highlight_title %}
        {% assign highlight_subheading = block_settings.highlight_subheading %}
        {% assign product = all_products[block_settings.product] %}
        {% assign product_image = product.featured_image %}
        {% assign product_url = product.url %}
        {% assign product_title = product.title %}
        {% assign product_price = product.price %}

        <div class="highlight__highlights">
          <a href="{{ highlight_link }}">
            <img src="{{ highlight_image | img_url: 'master' }}"/>
          <h2>{{ highlight_title }}</h2>
          <h4>{{ highlight_subheading }}</h4>
          </a>
        </div>
      {% endfor %}
    {% endif %}
 <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{{ highlight_image | img_url: 'master' }}" /></div>
        <div class="swiper-slide"><img src="{{ highlight_image | img_url: 'master' }}" /></div>
        <div class="swiper-slide"><img src="{{ highlight_image | img_url: 'master' }}" /></div>
      </div>
  
      <div class="swiper-scrollbar"></div>

    </div>
  </div>
</section>
</div>

{% stylesheet %}
    .productHighlights{
      padding: 30px 0;    
    }
    .productHighlights h1{
      color: #808284;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0;
    }
    .highlights__flex{
        display: inline-flex;
        justify-content: space-between;
    }
    .highlight__highlights{
        width: 32%;
    }
    .highlight__highlights a{
      color: black;
      text-align: left;
    }
    .highlight__highlights h2{
      padding-top: 10px;
    }
    .highlight__highlights h2,
    .highlight__highlights p,
    .highlight__highlights-mobile h2,
    .highlight__highlights-mobile p{
      color: #808284;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
    /* Mobile Version */
    .swiper-container {
        width: 100%;
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        display: none;
      }
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        width: 70%;
        height: 50vh;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
     /* media query for mobile device */
     @media (max-width: 480px) {
       .highlight__highlights{
         width: 100%;
         display: none;
       }
       .swiper-container{
         display: flex;
       }
      }
      


{% endstylesheet %}

{% javascript %}
   var swiper = new Swiper(".swiper-container", {
        slidesPerView: "auto",
        spaceBetween: 10,
        grabCursor: true,
        scrollbar: {
          el: ".swiper-scrollbar",
          hide: true,
        },
      });
{% endjavascript %}
{% schema %}
    {
        "name": "Product Highlights",
        "settings": [
          {
            "type": "text",
            "id": "highlightheading",
            "label": "Heading"
          }
        ],
        "blocks": [
          {
            "type": "product_highlight",
            "name": "Product highlight",
            "settings": [
              {
                  "type": "product",
                  "id": "product",
                  "label": "Product"
              },
              {
                  "type": "image_picker",
                  "id": "highlight_image",
                  "label": "Product Image"
              },
              {
                  "type": "url",
                  "id": "highlight_link",
                  "label": "Product Link"
              },
              {
                  "type": "text",
                  "id": "highlight_title",
                  "label": "Title"
              },
              {
                "type": "richtext",
                "id": "highlight_subheading",
                "label": "Subheading"
              }
            ]
          }
        ],
        "presets": [
            {
                "name": "product highlights",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}
