{% assign section_setting = section.settings  %}
{% assign blocks = section.blocks %}
{% assign highlightheading = section_setting.highlightheading %}

<div class="container">
<section class="productHighlights">
<h1>{{ highlightheading}}</h1>
  <div class="highlights__flex">

    {% if blocks %}
      {% for block in blocks %}
        {% assign block_settings = block.settings %}
        {% assign highlight_image = block_settings.highlight_image %}
        {% assign highlight_link = block_settings.highlight_link %}
        {% assign highlight_title = block_settings.highlight_title %}
        {% assign highlight_subheading = block_settings.highlight_subheading %}
        {% assign product = all_products[block_settings.product] %}
        {% assign product_image = product.featured_image %}
        {% assign product_url = product.url %}
        {% assign product_title = product.title %}
        {% assign product_price = product.price %}

        <div class="highlight__highlights">
          <a href="{{ highlight_link }}">
            <img src="{{ highlight_image | img_url: 'master' }}"/>
          <h2>{{ highlight_title }}</h2>
          <h4>{{ highlight_subheading }}</h4>
          </a>
        </div>
      {% endfor %}
    {% endif %}

  </div>
</section>
</div>

{% stylesheet %}
    .productHighlights{
        padding: 30px 0;    
    }
    .productHighlights h1{
      color: #808284;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 10px 0;
    }
    .highlights__flex{
        display: flex;
        justify-content: space-between;
    }
    .highlight__highlights{
        width: 32%;
    }
    .highlight__highlights a{
      color: black;
      text-align: left;
    }
    .highlight__highlights h2{
      padding-top: 10px;
    }
    .highlight__highlights h2,
    .highlight__highlights p{
      color: #808284;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
     @media (max-width: 480px) {
       .highlights__flex{
         display: inline-block;
         background-color: white;
       }
       .highlight__highlights{
         width: 100%;
       }
       }
     }
{% endstylesheet %}

{% schema %}
    {
        "name": "Product Highlights",
        "settings": [
          {
            "type": "text",
            "id": "highlightheading",
            "label": "Heading"
          }
        ],
        "blocks": [
          {
            "type": "product_highlight",
            "name": "Product highlight",
            "settings": [
              {
                  "type": "product",
                  "id": "product",
                  "label": "Product"
              },
              {
                  "type": "image_picker",
                  "id": "highlight_image",
                  "label": "Product Image"
              },
              {
                  "type": "url",
                  "id": "highlight_link",
                  "label": "Product Link"
              },
              {
                  "type": "text",
                  "id": "highlight_title",
                  "label": "Title"
              },
              {
                "type": "richtext",
                "id": "highlight_subheading",
                "label": "Subheading"
              }
            ]
          }
        ],
        "presets": [
            {
                "name": "product highlights",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}
