{% assign section_settings = section.settings  %}
{% assign returnexchange_heading = section_settings.returnexchange_heading %}
{% assign returnexchange_description = section_settings.returnexchange_description %}
{% assign image_banner = section_settings.image_banner %}
{% assign options_heading = section_settings.options_heading %}
{% assign size_color_header  = section_settings.size_color_header %}
{% assign size_color_text = section_settings.size_color_text %}
{% assign product_header = section_settings.product_header %}
{% assign product_text = section_settings.product_text %}
{% assign refund_header = section_settings.refund_header %}
{% assign refund_text = section_settings.refund_text %}
{% assign button_link = section_settings.button_link %}
{% assign button_title = section_settings.button_title %}

<section class="container">
    <div class="helpCenter-header">
        <h2 class="helpCenter-h2"> {{returnexchange_heading}} </h2>
        <div class="helpCenter-p">
        {{returnexchange_description}}
        </div>
    </div>
    <div class="returnExchange-content">
        <div class="returnExchange-content-left">
            <h2>{{options_heading}}</h2>
            <div class="returnExchange-options">
                <div id="options">
                    <button class="data-change" data-content="{{size_color_text}}">
                        <img data-src="{{'different-size-color.svg' | asset_url }}" class="lazy"/>
                        <p>{{size_color_header}}</p>
                    </button>
                    <button class="data-change" data-content="{{product_text}}">
                        <img data-src="{{'different-product.svg' | asset_url }}" class="lazy"/>
                        <p>{{product_header}}</p>
                    </button>
                    <button class="data-change" data-content="{{refund_text}}">
                        <img data-src="{{'different-refund.svg' | asset_url }}" class="lazy"/>
                        <p>{{refund_header}}</p>
                    </button>
                </div>
                <div id="optionsDescription">
                    <p class="allowChange">{{size_color_text}}</p>
                </div>
            </div>
            <a class="button button-black" style="width: auto; margin-bottom: 50px" href="{{button_link}}">{{button_title}}</a>
        </div>
         <div class="returnExchange-content-right">
            <img data-src="{{ image_banner | img_url: 'master' }}" class="lazy"/>
        </div>
    </div>
</section>

{% javascript %}
        
        $(document).ready(function () {    
    $(".data-change").click(function() {
        var content = $(this).data('content');   
        $('.allowChange').html(content);
    });    
});
    {% endjavascript %}

{% schema %}
    {
        "name": "Returns & Exchanges",
        "settings": [
            {
                "type": "header",
                "content": "Description"
            },
            {
                "type": "text",
                "id": "returnexchange_heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "returnexchange_description",
                "label": "Description"
            },
            {
                "type": "image_picker",
                "id": "image_banner",
                "label": "Image banner"
            },
            {
                "type": "header",
                "content": "Returns & Exchanges Options"
            },
            {
                "type": "text",
                "id": "options_heading",
                "label": "Option title"
            },
            {
                "type": "text",
                "id": "size_color_header",
                "label": "Option name"
            },
            {
                "type": "textarea",
                "id": "size_color_text",
                "label": "Option description"
            },
            {
                "type": "text",
                "id": "product_header",
                "label": "Option name"
            },
            {
                "type": "textarea",
                "id": "product_text",
                "label": "Option description"
            },
            {
                "type": "text",
                "id": "refund_header",
                "label": "Option name"
            },
            {
                "type": "textarea",
                "id": "refund_text",
                "label": "Option description"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
            },
            {
                "type": "text",
                "id": "button_title",
                "label": "Button title"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "returns & exchanges",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}