{% assign section_setting = section.settings  %}
{% assign title = section_setting.Title %}
{% assign buttonText = section_setting.buttonText %}
{% assign buttonLink = section_setting.buttonLink %}
{% assign image_one = section_setting.image_one %}
{% assign image_two = section_setting.image_two %}



<section class="container sustainableDesign">
<div class="sustainableDesign__overlay">
<h2>{{title}}</h2>
{% if buttonText != blank and buttonLink != blank %}  
<a class="button" href="{{buttonLink}}"> {{buttonText}} </a>
{% endif %}
</div>
<img src="{{image_one | img_url: 'master'}}">
<img src="{{image_two | img_url: 'master'}}">

</section>

{% stylesheet %}
    .sustainableDesign{
        position: relative;
        display: flex;
    }
    .sustainableDesign img{
        width: 50%;
    }
    .sustainableDesign__overlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }
    .sustainableDesign__overlay h2{
        font-size: 30px;
    }
{% endstylesheet %}


{% schema %}
    {
        "name": "Sustainable Design",
        "settings": [
            {
                "type": "header",
                "content": "Title & Subheading"
            },
            {
                "type": "text",
                "id": "Title",
                "label": "Title"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "buttonText",
                "label": "buttonText"
            },
            {
                "type": "url",
                "id": "buttonLink",
                "label": "buttonLink"
            },
            {
                "type": "header",
                "content": "Images"
            },
            {
                "type": "image_picker",
                "id": "image_one",
                "label": "Image 1"
            },
            {
                "type": "image_picker",
                "id": "image_two",
                "label": "Image 2"
            }
        ],
        "blocks": [

        ],
        "presets": [
            {
                "name": "sustainable design",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}