{% assign section_setting = section.settings  %}
{% assign essential_title = section_setting.essential_title %}
{% assign essential_description = section_setting.essential_description %}
{% assign image_one = section_setting.image_one%}
{% assign image_link_one = section_setting.image_link_one%}
{% assign image_two = section_setting.image_two%}
{% assign image_link_two = section_setting.image_link_two%}
{% assign image_three = section_setting.image_three%}
{% assign image_link_three = section_setting.image_link_three%}


<section class="container travelEssentials">
<div class="essentials">
<div class="essentials__heading">
<h1>{{essential_title}}</h1>
<h2>{{essential_description}}</h2>
</div>
<div class="essentials__small">
<a href="{{image_link_one}}"> <img data-src="{{image_one | img_url: 'master'}}" class="lazy"/></a>
<a href="{{image_link_two}}"> <img data-src="{{image_two | img_url: 'master'}}" class="lazy"/></a>
</div>
</div>
<div class="essentials__big">
<a href="{{image_link_three}}"> <img data-src="{{image_three | img_url: 'master'}}" class="lazy"/> </a>
</div>
</section>


{% schema %}
    {
        "name": "Essentials",
        "settings": [
            {
                "type": "header",
                "content": "Heading"
            },
            {
                "type": "text",
                "id": "essential_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "essential_description",
                "label": "Description"
            },
            {
                "type": "header",
                "content": "Images"
            },
            {
                "type": "image_picker",
                "id": "image_one",
                "label": "Image 1"
            },
            {
                "type": "url",
                "id": "image_link_one",
                "label": "Image Link 1"
            },
            {
                "type": "image_picker",
                "id": "image_two",
                "label": "Image 2"
            },
            {
                "type": "url",
                "id": "image_link_two",
                "label": "Image Link 2"
            },
            {
                "type": "image_picker",
                "id": "image_three",
                "label": "Image 3"
            },
            {
                "type": "url",
                "id": "image_link_three",
                "label": "Image Link 3"
            }
        ],
         "blocks": [

        ],
        "presets": [
            {
                "name": "travel essentials",
                "category": "General",
                "settings": {}
            }
        ]
    }
{% endschema %}